<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.pingche.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.pingche.entity.User">
        <id column="id" property="id" />
        <result column="avatarUrl" property="avatarUrl" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="gender" property="gender" />
        <result column="language" property="language" />
        <result column="nickName" property="nickName" />
        <result column="openId" property="openId" />
        <result column="province" property="province" />
        <result column="county" property="county" />
        <result column="phone" property="phone" />
        <result column="vehicle" property="vehicle" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, avatarUrl, city, country, gender, language, nickName, openId, province, county, phone, vehicle, name
    </sql>

</mapper>
