spring:
  datasource:
    url: jdbc:mysql://47.104.92.56:3306/pingche?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      initial-size: 5
      min-idle: 1
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 6000
      min-evictable-idle-time-millis: 300000
      validation-query: select 1 from dual
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 20
      stat-view-servlet:
        login-username: admin
        login-password: admin
      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 2000
        wall:
          config:
            comment-allow: true
        config:
          enabled: true


  application:
    name: pingche
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

#swagger config


swagger:
  base-package: com.joyou
  description: PINGCHE
  title: ${spring.application.name} API Documents
  version: @project.version@
  enable: true
knife4j:
  enable: ${swagger.enable}
  basic:
    enable: true
    username: admin
    password: admin

#Logger Config
#logging:
#  level:
#    root: DEBUG
#    #com.yf.pingche.mapper: info
#  config: classpath:logback.xml
#  file: logs/${spring.application.name}

server:
  port: 8099
  http:
    port: 8010
  servlet:
    context-path: /api
  ssl:
    key-store: classpath:4181697_www.xinsuiwutuobang.cn.pfx
    key-store-type: PKCS12
    key-store-password: OU7GHeV7
#启用shutdown
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"


mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
  global-config:
    db-config:
      id-type: auto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

wx:
  appId: wx5323a32740a04612
  secret: 78996e7903ff82cb01e7cd187c2e6825

#wxa69f78e0d127bce1
#c44cef72c9d2a7bf4f4c651402967b40


# 文件上传下载配置
upload-path: /opt/pingche/upload/
resource-access-path: /resource/